$brand: #4a0d67;

.student-form {
  position: relative;
  font: 18px/1 sans-serif;
  width: 540px;
  margin: 0 auto;

  &__input {
    margin-bottom: 12px;
  }

  &__button {
    border: 0;
    border-radius: 4px;
    background: $brand;
    color: #fff;
    width: 50%;
    display: block;
    margin: 0 auto;
    padding: 12px 0;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
  }
}

.input {
  &__label {
    display: block;
    margin-bottom: 4px;
  }

  &__field,
  &__select {
    box-sizing: border-box;
    padding: 8px;
    border-radius: 2px;
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    font-size: 16px;
  }
}

.equation {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.error {
  background: #b34040;
  padding: 12px 16px;
  color: #fff;
  border-radius: 4px;
  margin-bottom: 16px;
}

@keyframes rotation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(359deg);
  }
}

.loader {
  display: block;
  position: absolute;
  background: rgba(#fff, 0.75);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  &:before {
    content: '';
    height: 200px;
    width: 200px;
    border-top: 6px solid $brand;
    border-radius: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    animation: rotation 2s infinite ease-in-out;
  }
}
